.login {
  height: 55px;
  width: 200px;
  background-color: rgb(40 136 85);
  color: white;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
}
.login:hover {
  /* transition: 0.05s ease;
  border: 3px solid #dbf9ea; */
}
.more {
  padding: 18px 60px;
  background-color: #dbf9ea;
  color: #338a63;
  /* outline: none; */
  border: none;
}
.proceed {
  width: 400px;
  height: 50px;
  background-color: rgb(40 136 85);
  color: #fff;
  border: none;
}
